all:
  children:
    mcp_servers:
      hosts:
        github_server:
          ansible_connection: ansible.mcp.mcp
          ansible_mcp_server_name: github-server
          ansible_mcp_server_args: []
          ansible_mcp_server_env:
{% if github_mcp_pat is defined and github_mcp_pat | length > 0 %}
            GITHUB_PERSONAL_ACCESS_TOKEN: "{{ github_mcp_pat }}"
{% else %}
            {}
{% endif %}
          ansible_mcp_manifest_path: "{{ ansible_mcp_manifest_path | default('/opt/mcp/mcpservers.json') }}"
        aws_iam_server:
          ansible_connection: ansible.mcp.mcp
          ansible_mcp_server_name: aws-iam-mcp-server
          ansible_mcp_server_args:
            - --readonly
          ansible_mcp_server_env:
            AWS_REGION: us-east-1
            AWS_PROFILE: default
          ansible_mcp_manifest_path: "{{ ansible_mcp_manifest_path | default('/opt/mcp/mcpservers.json') }}"
