all:
  children:
    mcp_servers:
      hosts:
        github_server:
          ansible_connection: ansible.mcp.mcp
          ansible_mcp_server_name: github
          ansible_mcp_server_args: []
          ansible_mcp_server_env: {"GITHUB_PERSONAL_ACCESS_TOKEN": "{{ github_mcp_pat }}"}
          ansible_mcp_manifest_path: {{ playbook_dir }}/manifest.json